<section>
    <div class="contact d-flex flex-column align-items-center container">
        <h1>CONTACT SECTION</h1>
        <div class="line d-flex align-items-center mb-3">
            <p class="m-0 p-0 me-2">line123132132</p>
            <i class="fa-solid fa-star me-2"></i>
            <p class="m-0 p-0">line123132132</p>
        </div>
        <form class="w-100 text-center" action="">
            <input class="form-control w-75 mx-auto mb-3"  placeholder="Enter your Name" type="text">
            <input class="form-control w-75 mx-auto mb-3"  placeholder="Enter your Age " type="text">
            <input class="form-control w-75 mx-auto mb-3"  placeholder="Enter your Email" type="text">
            <input class="form-control w-75 mx-auto mb-3"  placeholder="Enter your Password " type="text">
            <button class="btn bg-success mb-5 text-white">Submit</button>
        </form>
    </div>
</section>