<section>
    <div class="portfolio d-flex flex-column align-items-center container">
        <h1 class="text-dark mt-5">PORTFOLIO COMPONENT</h1>
        <div class="line d-flex align-items-center ">
            <p class="m-0 p-0 me-2">line123132132</p>
            <i class="fa-solid fa-star me-2"></i>
            <p class="m-0 p-0">line123132132</p>
        </div>
        <div class="row row-gap-2">
            <div class="col-md-4 p-3">
                <div class="layer position-relative rounded">
                    <img class="w-100 rounded" src="poert1.png" alt="">
                    <div class="rounded space d-flex align-items-center justify-content-center position-absolute top-0 start-0 end-0 bottom-0">
                        <i class="fa-solid fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="layer position-relative rounded">
                    <img class="w-100 rounded" src="port2.png" alt="">
                    <div class="rounded space d-flex align-items-center justify-content-center position-absolute top-0 start-0 end-0 bottom-0">
                        <i class="fa-solid fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="layer position-relative rounded">
                    <img class="w-100 rounded" src="port3.png" alt="">
                    <div class="rounded space d-flex align-items-center justify-content-center position-absolute top-0 start-0 end-0 bottom-0">
                        <i class="fa-solid fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="layer position-relative rounded">
                    <img class="w-100 rounded" src="poert1.png" alt="">
                    <div class="rounded space d-flex align-items-center justify-content-center position-absolute top-0 start-0 end-0 bottom-0">
                        <i class="fa-solid fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="layer position-relative rounded">
                    <img class="w-100 rounded" src="port2.png" alt="">
                    <div class="rounded space d-flex align-items-center justify-content-center position-absolute top-0 start-0 end-0 bottom-0">
                        <i class="fa-solid fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <div class="layer position-relative rounded">
                    <img class="w-100 rounded" src="port3.png" alt="">
                    <div class="rounded space d-flex align-items-center justify-content-center position-absolute top-0 start-0 end-0 bottom-0">
                        <i class="fa-solid fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>