.line
{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}
.line p
{
    color: transparent;
}
section
{
    padding-top: 100px;
    overflow-x: hidden;
}
.col
{
    padding: 0;
}
.space
{
    background-color: rgba(26 , 188 , 156 ,0.5);
    opacity: 0;
    transition: ease 0.8s;
}
.space:hover
{
    opacity: 1;
    background-color: rgba(26 , 188 , 156 ,0.8);

}
