<section>
    <div class="default d-flex flex-column align-items-center justify-content-center text-white">
        <img src="Pic 2.jpg" class="rounded-circle mb-3" alt="">
        <div class="h1">START FRAMEWORK</div>
        <div class="line d-flex align-items-center mb-3">
            <p class="m-0 p-0 me-2">line123132132</p>
            <i class="fa-solid fa-star me-2"></i>
            <p class="m-0 p-0">line123132132</p>
        </div>
        <div class="roles d-flex ">
            <p class="me-2 p-0">Cybersecurity - </p>
            <p class="me-2 p-0">Full-Stack - </p>
            <p class="me-2 p-0"> Technical Support Enginner</p>
        </div>
        
    </div>
</section>